
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <label>Username</label>
    <input type="text" name="username" class="form-control" required  />
    <br />
    <label>Password</label>
    <input type="text" name="password" class="form-control" required />
    <br />
    <button class="btn btn-success"> 
        Login
    </button>
</form>
<br />

<h1>@ViewData["MENSAJE"]</h1>

